html, body, a, header, nav, h1, h2, ul, li, section, form,
p, footer, input {
  margin: inherit;
  border: inherit;
  padding: inherit;

  font: inherit;
}

input {
  cursor: pointer;
  outline: none;
}

form:last-child:hover {
  -webkit-filter: brightness(90%);
}

ol li:nth-of-type(2n) {
  background-color: LightGrey;
}

h2 + .user_review {
  border-top: 1px, solid, black;
}

input[type="radio"] {
  -webkit-appearance: none;
  width: 27px;
  height: 27px;
  background-image: url("stars.png");
  vertical-align: bottom;
}
input[type="radio"]:checked {
  background-position: 30px 30px;
  background-image: url("stars.png");
}

body {
  font-family: Arial, sans-serif;
  margin: 10px;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

.ingredients-list {
  list-style: square inside;
}

ul {
  list-style: armenian inside;
}

header > img {
  width: 100px;
}

ul li anchor {
  text-decoration: none;
  color: inherit;
}

* {
  background-color: whitesmoke;
}

.user_review {
  font-style: italic;
}
