html, body, a, header, nav, h1, h2, ul, li, section, form,
p, footer, input {
  margin: inherit;
  border: inherit;
  padding: inherit;

  font: inherit;
}

input {
  cursor: pointer;
  outline: none;
}

label {
  display: block;
}
input[type="text"] {
  display: block;
  width: 20px;
}

textarea {
  width: 200px;
}

select {
  display: block;
  width: 170px;
  margin: 10px;
}

form:last-child:hover {
  -webkit-filter: brightness(90%);
}

ol li {
  margin-top: 15px;
  margin-bottom: 15px;
}

ol li:nth-of-type(2n) {
  background-color: LightGrey;
}

h2 + .user_review {
  border-top: 1px, solid, black;
}

input[type="radio"] {
  -webkit-appearance: none;
  width: 27px;
  height: 27px;
  background-image: url("stars.png");
  vertical-align: bottom;
}
input[type="radio"]:checked {
  background-position: 30px 30px;
  background-image: url("stars.png");
}

body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  width: 100%;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

nav {
  float: right;
}


aside {
  width: 30.33%;
  margin-right: 15px;
  float: left;
  /*order: 2;*/
  box-sizing: border-box;
}

section.description {
  width: 60.66%;
  float: left;
  order: 3;
}

img {
  /*content: "";
  display: block;
  clear: both;*/
  width: 100%;
}

.ingredients-list {
  list-style: square inside;
  margin-left: 15px;
  margin-top: 5px;
  box-sizing: border-box;
}

header {
  float: left;
  width: 100%;
  /*order: 1;*/
}

footer {
  float: left;
  order: 5;
  width: 100%;
}

section.reviews {
  float:left;
  order: 4;
  width: 100%;
}

header > img {
  /*content: "";*/
  /*clear: both;*/
  width: 100%;
  float: left;
}

ul {
  list-style: armenian inside;
}

ul li {
  text-decoration: none;
  color: inherit;
  float: right;
  padding-left: 10px;

}

* {
  background-color: whitesmoke;
}

.user_review {
  font-style: italic;
}

/*@media all and (min_width: 500px) {
  header {
    flex: 1;
    order: 1;
  }
  aside {
    flex: 1;
    order: 2;
  }

  section.reviews {
    flex: 1;
    order: 3;
  }

  footer {
    order: 4;
  }
}*/
